{% extends "base.html" %}

{% block body %}
<h3 class="text-m text-gray-900 block mb-3 dark:text-gray-300"><a href="{{ book[1] }}" class="font-medium">{{ book[0] }}</a> was:<h3></h3>

<p>{{ waterstones[0] }} from <a href="{{ waterstones[1] }}"><span class="hover:font-medium">Waterstones</span></a></p>
<p>{{ blackwells[0] }} from <a href="{{ blackwells[1] }}"><span class="hover:font-medium">Blackwells</span></a></p>
<p>{{ wob[0] }} from <a href="{{ wob[1] }}"> <span class="hover:font-medium">Wob</span></a></p>
{% endblock %}
 