{% block footer %}
<footer class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700 m-auto mt-10 mb-10">
    <h3 class="text-s font-medium text-gray-900 block mb-2 dark:text-gray-300">Recently searched:</h3>
    {% for item in range(recently_searched|length): %}
        <p class="text-sm mt-2 mb-2"><a href="/{{ recently_searched[item][1] }}">{{ recently_searched[item][1] }}</a> ({{ recently_searched[item][0] }})</p>
    {% endfor %}
</footer>
{% endblock %}