{% extends "base.html" %}

{% block body %}
<h3 class="text-m text-gray-900 block mb-3 dark:text-gray-300 mt-5"><a href="{{ book[2] }}" class="font-medium">{{ book[1] }}</a> <span class="font-light">({{ book[0] }})</span></h3>
                  
<table class="table-auto w-full">
    <colgroup>
        <col>
        <col class="w-1/6">
    </colgroup>
    <tr> 
        <!-- wob -->
        <td><a href="{{ book[6] }}" class="hover:font-medium">Wob</a></td>
        <td>{{ book[3] }}</td>
    </tr>
    <tr>
        <!-- waterstones -->
        <td><a href="{{ book[7] }}" class="hover:font-medium">Waterstones</a></td>
        <td>{{ book[4] }}</td>
    </tr>
    <tr>
        <!-- blackwells -->
        <td><a href="{{ book[8] }}" class="hover:font-medium">Blackwells</a></td>
        <td>{{ book[5] }}</td>
    </tr>
</table>
{% endblock %}
