{% extends "base.html" %}

{% block body %}
<h3 class="text-m text-gray-900 block mb-3 dark:text-gray-300 mt-5"><a href="/{{ book['ISBN'] }}" class="font-medium">{{ book['Title'] }}</a> <span class="font-light">by {{ book['Author'] }} ({{ book['ISBN'] }})</span></h3>

<table class="table-auto w-full dark:text-gray-300">
    <colgroup>
        <col>
        <col class="w-1/6">
    </colgroup>
    <tr>
        <!-- wob -->
        <td><a href="{{ book['Wob']['URL'] }}" class="hover:font-medium dark:text-gray-300">Wob</a></td>
        <td>{{ book['Wob']['Price'] }}</td>
    </tr>
    <tr>
        <!-- waterstones -->
        <td><a href="{{ book['Waterstones']['URL'] }}" class="hover:font-medium dark:text-gray-300">Waterstones</a></td>
        <td>{{ book['Waterstones']['Price'] }}</td>
    </tr>
    <tr>
        <!-- blackwells -->
        <td><a href="{{ book['Blackwells']['URL'] }}" class="hover:font-medium dark:text-gray-300">Blackwells</a></td>
        <td>{{ book['Blackwells']['Price'] }}</td>
    </tr>
</table>
{% endblock %}
